---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* THEME PORT CREDIT */
Theme: Slim
Original Theme Homepage: https://github.com/jameshclrk/zola-slim
Original Theme Author: James Clark
Original Theme License: MIT
Original Theme Demo: https://zola-slim.netlify.com/

/* GITHUB AUTHORS / CONTRIBUTORS (from git history) */
Contributors:
- James Clark <james@jameshclrk.com>
- James Clark <jameshclrk@users.noreply.github.com>

Co-authors:
- (none detected)

/* TECHNOLOGY */
Built with: {{ eleventy.generator }}, ESM, Nunjucks, Luxon
