---
layout: layouts/base.njk
pagination:
  data: collections.posts
  size: 5
  alias: postsPage
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}/index.html{% else %}/index.html{% endif %}"
---
{% import "macros.njk" as macros %}
{{ macros.listPages(postsPage, metadata) }}
